html {
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 800px;
    opacity: 1;
    }

div#Login {
    position: relative;
    left: 150px;
    margin-top: -250px;
    margin-left: -155px;
    top: 128px;
    width: 400px;
    height: 476px;
    margin-left: 440px;
    margin-right: 440px;
    opacity: 1;
    }

img#Header {
    margin-top: 148px;
    top: 148px;
    left: 508px;
    width: 263.65px;
    height: 76px;
    margin-left: 68px;
    margin-right: 68px;
    /* UI Properties */
    opacity: 1;
    }

h1 {
    top: 236px;
    left: 1456px;
    width: 368px;
    height: 48px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 40px/55px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---413e4d-input-color);
    text-align: center;
    font: normal normal bold 40px/55px Open Sans;
    letter-spacing: 0px;
    color: #413E4D;
    opacity: 1;
    font-size: 48px;
    margin-bottom: 5px;
    margin-top: 5px;
}

p#Login {
    /* Layout Properties */
    top: 10px;
    left: -4px;
    width: 368px;
    height: 20px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---413e4d-input-color);
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #413E4D;
    opacity: 1;
    font-size: 16px;
    position:relative;
}


p small{
    top: 14px;
    left: 12px;
    width: 336px;
    height: 16px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/17px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---413e4d-input-color);
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #413E4D;
    opacity: 1;
    position: relative;
    }

div#Contanedor{
    margin-top: 100px;
    padding-left: -40px;
    padding-right: 440px;
        /* Layout Properties */
    top: 48px;
    width: 368px;
    height: 164px;
    /* UI Properties */
    opacity: 1;
}

div#Form{
    margin-top: 168px;
    padding: 12px;
    width: 400px;
    height: 156px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 16px #00000029;
    border-radius: 12px;
}

form{
    top: -6px;
    left: -5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ABB9C780;
    border-radius: 6px;
    opacity: 1;
    width: 368px;
    height: 56px;
    margin: 10px;
}

button{
    /* Layout Properties */
    top: 532px;
    left: 553px;
    width: 174px;
    height: 48px;
    /* UI Properties */
    background: var(--red_1_-dd3542) 0% 0% no-repeat padding-box;
    background: #DD3542 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    align-content: center;
}

div#Header{
    top: 148px;
    left: 456px;
    width: 368px;
    height: 164px;
    /* UI Properties */
    opacity: 1;
}

div#Button{
    padding-left: 113px;
    padding-right: 113px;
    height: 148px;
    margin-top: 36px;
    width: 336px;
    height: 16px;
    position: relative;
}

p#Parrafo{
    /* Layout Properties */
    margin-top: 5px;
    margin-bottom: 12px;
    top: 546px;
    left: 577px;
    height: 16px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--white_-ffffff);
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    font-family: 'Open Sans', Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 16px;
}

div#LineasLeft{
    position: relative;
    width: 40px;
    height: 0px;
    margin-left: 1000px;
    top:-115px;
    left:10px;
}

div#PuntosLeft{
    position: relative;
    left: 1010px;
    top: 600px;
}

div#Puntos{
    position: relative;
    width: 40px;
    height: 0px;
    margin-left: 400px;
    margin-top: 150px;
    right:-95px;
    top: -220px ;
}

div#Circulo{
    position: relative;
    left:450px;
    top: -130px;
    width: -100px;
    height: -100px;
}


div#CirculoLeft{
    position: relative;
    bottom: -510px;
    left: 1095px;
}

